doctype html
html(lang='ru')
  block head 
    head 
      meta(charset='utf-8')
      title Mishka
      link(rel="stylesheet" href="assets/css/style.css")

  body
    block header
    block content
    block footer
    block script(src="main.js")